{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <body class="text-center">
        <div class="col-md-10 mx-auto col-lg-5">
        <main class="form-signin">
            {% if form.errors %}
                {% for error in form.errors %}
                    {{ error }}
                {% endfor %}
            {% endif %}
            <img class="mb-4" width="72" height="" src="{% static 'dating-app.png' %}" alt="logo">
            <h1 class="h3 mb-3 fw-normal">Please Sign up</h1>
            <form action="" method="POST" class="p-4 p-md-5 border rounded-3 bg-light">
                <div class="form-floating mb-3">
                    {% csrf_token %}
                    {{ form.username }}
                </div>
                <div class="form-floating mb-3">
                    {{ form.email }}
                </div>
                <div class="form-floating mb-3">
                    {{ form.password }}
                </div>
                <div class="checkbox mb-3">
                        <input type="checkbox" value="remember-me">
                        Remember me
                </div>
                <button class="btn btn-md btn-primary" type="submit">Signup</button>
                <p><a href="{% url 'login' %}">or login</a></p>
            </form>

            <p class="mt-5 mb-3 text-muted">© 2021-2022</p>
    </main>
        </div>
    </body>

{% endblock %}